
<div class="dews-button-group">
  <button class="dews-ui-button" type="button">기초정보생성</button>
  <button class="dews-ui-button" type="button">선택작업</button>
</div>
<div class="dews-ui-condition-panel">
  <form class="dews-condition-panel-form">
    <ul class="required-area">
      <li>
        <label>거래처</label>
        <span>
            <input type="text" class="dews-ui-codepicker" data-dews-help-code="EMP">
        </span>
    </ul>
    <ul class="optional-area">
      <li>
        <label>사업장</label>
        <span>
            <input type="text" class="dews-ui-codepicker" data-dews-help-code="EMP" data-text="더존비즈온">
        </span>
      </li>
      <li>
        <label>부가세사업장</label>
        <span>
            <input type="text" class="dews-ui-codepicker" data-dews-help-code="EMP" data-text="더존비즈온">
        </span>
      </li>
      <li>
        <label>거래처</label>
        <span>
            <input type="text" class="dews-ui-codepicker" data-dews-help-code="EMP" data-text="주식회사 리리스코">
        </span>
      </li>
      <li>
        <label>거래구분</label>
        <span>
            <select class="dews-ui-dropdownlist required"></select>
        </span>
      </li>
    </ul>
  </form>
</div>
<div class="dews-container-panel" data-dews-container-height="635">
  <div class="dews-container-item" data-dews-position="left" data-dews-width="300">
    <div class="dews-ui-grid" id="grid"></div>
  </div>
  <div class="dews-container-item">
    <div class="dews-form-panel" data-dews-position="normal">
      <form class="dews-form-panel-form">
        <ul>
          <li>
            <label>회사코드</label>
            <span>
                <input type="text" class="dews-ui-textbox required" value="1100"/>
            </span>
          </li>
          <li>
            <label>회사명</label>
            <span>
                <input type="text" class="dews-ui-textbox required" value="(주)더존비즈온"/>
            </span>
          </li>
          <li>
            <label>국가코드</label>
            <span>
                <select class="dews-ui-dropdownlist required">
                    <option value="">대한민국</option>
                    <option value="">일본</option>
                </select>
            </span>
          </li>
          <li>
            <label>화사명(영)</label>
            <span>
                <input type="text" class="dews-ui-textbox" value="DOUZONE BIZON CO LTD"/>
            </span>
          </li>
          <li>
            <label>언어선택</label>
            <span>
                <select class="dews-ui-dropdownlist required">
                    <option value="">KOREAN</option>
                    <option value="">JAPANIES</option>
                </select>
            </span>
          </li>
          <li>
            <label>통화코드</label>
            <span>
                <select class="dews-ui-dropdownlist required">
                    <option value="">KRW</option>
                    <option value="">JPY</option>
                </select>
            </span>
          </li>
          <li>
            <label>법인구분</label>
            <span>
                <select class="dews-ui-dropdownlist required">
                    <option value="">법인</option>
                    <option value="">개인법인</option>
                </select>
            </span>
          </li>
          <li>
            <label>법인유형</label>
            <span>
                <select class="dews-ui-dropdownlist required">
                    <option value="">연구소</option>
                    <option value="">사무소</option>
                </select>
            </span>
          </li>
          <li>
            <label>법인등록번호</label>
            <span>
                <input type="text" class="dews-ui-maskedtextbox required" data-dews-mask="000000-000000" value="110111111110">
            </span>
          </li>
          <li>
            <label>본점사업자NO</label>
            <span>
                <input type="text" class="dews-ui-maskedtextbox required" data-dews-mask="000-00-00000" value="1058182188">
            </span>
          </li>
          <li>
            <label>업종유형</label>
            <span>
                <select class="dews-ui-dropdownlist required">
                    <option value="">정보처리업</option>
                    <option value="">유통처리업</option>
                </select>
            </span>
          </li>
          <li>
            <label>계정유형</label>
            <span>
                <select class="dews-ui-dropdownlist required">
                    <option value="">K IFRS제조</option>
                    <option value="">J IFRS제조</option>
                </select>
            </span>
          </li>
          <li>
            <label>개업일</label>
            <span>
                <input type="text" id="open" class="dews-ui-datepicker required"/>
            </span>
          </li>
          <li>
            <label>설립일</label>
            <span>
                <input type="text" id="build" class="dews-ui-timepicker required"/>
            </span>
          </li>
          <li class="col-2">
            <label>기수/기간</label>
            <span>
                <select class="dews-ui-dropdownlist required" id="dropdown">
                    <option value="">1기</option>
                    <option value="">2기</option>
                </select>

                <span id="period" class="dews-ui-periodpicker required" data-dews-start-date="20150530" data-dews-end-date="20150530"></span>
            </span>
          </li>
        </ul>
        <ul>
          <li>
            <label>전화번호</label>
            <span>
                <input type="text" class="dews-ui-textbox"/>
            </span>
          </li>
          <li>
            <label>팩스번호</label>
            <span>
                <input type="text" class="dews-ui-textbox"/>
            </span>
          </li>
          <li>
            <label>연결법인구분</label>
            <span>
                <select class="dews-ui-dropdownlist">
                    <option value="">중간지배회사</option>
                    <option value="">하위지배회사</option>
                </select>
            </span>
          </li>
          <li>
            <label>모기업</label>
            <span>
                <select class="dews-ui-dropdownlist">
                    <option value="">더존다스</option>
                    <option value="">키컴</option>
                </select>
            </span>
          </li>
          <li class="col-2">
            <label>우편번호</label>
            <span>
                <input type="text" class="dews-ui-codepicker" id="zip-code" data-dews-help-code="zip">
                <input type="text" class="dews-ui-textbox" id="zip-address">
            </span>
          </li>
          <li class="col-2">
            <label>본점주소</label>
            <span>
                <input type="text" class="dews-ui-textbox" value="강원도 춘천시 남산면 버들1길 130">
            </span>
          </li>
          <li class="col-2">
            <label>영문주소</label>
            <span>
                <input type="text" class="dews-ui-textbox" value="130, Beodeul 1-gil, Sudong-ri, Nam san-myeon, Chuncheon-si, Gangwon-do">
            </span>
          </li>
          <li class="col-2">
            <label>우편번호</label>
            <span>
                <input type="text" class="dews-ui-codepicker" id="zip-code1" data-dews-help-code="zip" value="B516040700">
                <input type="text" class="dews-ui-textbox" id="name" value="홍길동">
                <input type="text" class="dews-ui-textbox" id="eng-name" value="Hong kil dong">
            </span>
          </li>
        </ul>
        <ul>
          <li>
            <label>대표자주민번호</label>
            <span>
                <input type="text" class="dews-ui-textbox"/>
            </span>
          </li>
          <li></li>
          <li class="col-2">
            <label>대표자우편번호</label>
            <span>
                <input class="dews-ui-codepicker" id="zip-code2">
                <input type="text" class="dews-ui-textbox" id="zip-address2"/>
            </span>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
<script>
  dews.ready(function () {
    var grid, dataSource;

    dataSource = dews.ui.dataSource('dataSource', {
      grid: true,
      data: [
        {CM_COM: '1000', NM_COM: '더존NEXT'},
        {CM_COM: '4444', NM_COM: '더존E&H'},
        {CM_COM: '5000', NM_COM: '더존북경득진망'},
        {CM_COM: '7348', NM_COM: '더존JAPAN'},
        {CM_COM: 'BIZON', NM_COM: '근무지원단'},
        {CM_COM: 'CHINA', NM_COM: 'CHINA'},
        {CM_COM: 'DEMO', NM_COM: '아이택스넷'},
        {CM_COM: 'DEMO-SS', NM_COM: '네오위즈(닷컴)'},
        {CM_COM: 'DEMO-SS', NM_COM: '키컴'},
        {CM_COM: 'EFIS', NM_COM: 'EFIS-1'},
        {CM_COM: 'EFIS-1', NM_COM: '다국어 테스트'},
        {CM_COM: 'ERP', NM_COM: '아이존'},
        {CM_COM: 'HDJ', NM_COM: '동물과 자연'},
        {CM_COM: 'HDJTESTM', NM_COM: '유정건설'},
        {CM_COM: 'HDJTEST', NM_COM: '제주자연수'},
        {CM_COM: 'HJMP', NM_COM: '(주)더존비즈온'},
        {CM_COM: 'KST', NM_COM: 'SOSO Manufacturing'}
      ],
      schema: {
        model: {
          id: 'data',
          fields: [
            {field: 'CM_COM'},
            {field: 'NM_COM'}
          ]
        }
      }
    });

    grid = dews.ui.grid('#grid', {
      dataSource: dataSource,
      selectable: true,
      editable: true,
      sortable: true,
      checkable: true,
      height: 635,
      columns: [
        {
          field: 'CM_COM',
          title: '회사코드',
          width: 80,
          align: 'left'
        },
        {
          field: 'NM_COM',
          title: '회사명',
          width: 140,
          align: 'left'
        }
      ]
    });
  });
</script>
<style>
  #dropdown {
    width: 54px!important;
  }

  #period {
    width: 265px!important;
  }

  #zip-code-wrapper, #zip-code2-wrapper {
    width: 86px!important;
  }

  #zip-address, #zip-address2 {
    width: 407px!important;
  }

  #zip-code1-wrapper {
    width: 106px!important;;
  }

  #name {
    width: 152px!important;
  }

  #eng-name {
    width: 231px!important;
  }

  @media all and (max-width: 1486px) {
    #zip-address, #zip-address2 {
      width: 407px!important;
    }

    #name {
      width: 133px!important;
    }

    #eng-name {
      width: 250px!important;
    }

    #periodpicker_container {
      width: 440px!important;
    }
  }

  @media all and (min-width: 1487px) and (max-width: 1587px) {
    #zip-address, #zip-address2 {
      width: 443px!important;
    }

    #name {
      width: 144px!important;
    }

    #eng-name {
      width: 275px!important;
    }

    #periodpicker_container {
      width: 475px!important;
    }
  }

  @media all and (min-width: 1588px) {
    #zip-address, #zip-address2 {
      width: 458px!important;
    }

    #name {
      width: 150px!important;
    }

    #eng-name {
      width: 284px!important;
    }

    #periodpicker_container {
      width: 490px!important;
    }
  }

  #dropdown {
    width: 54px!important;
  }

  #zip-code-wrapper, #zip-code2-wrapper {
    width: 86px!important;
  }

  #zip-code1-wrapper {
    width: 106px!important;;
  }
</style>
